html {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

ol {
    border: 5px solid black;
}

.circle-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.my-X {
  display: block;         /* ブロック要素に変換 */
  width: fit-content;     /* 中身のサイズに縮める */
  margin: 0 auto;         /* 中央に配置 */
  text-align: center;
  color: #1DA1F2;
  text-decoration: none;
  font-weight: bold;
}

.my-X:hover {
  text-decoration: underline;
}
