html {
    background-color: aquamarine;
    font-family: "MS ゴシック";
}

h1 {
    text-align: center;
    font-weight: bold;
}

ol {
    border: 5px solid black;
    display: block;         /* ブロック要素に変換 */
    width: auto;     /* 中身のサイズに縮める */
    margin: 0 auto;         /* 中央に配置 */
    text-align: center;
}

li {
    display: block;         /* ブロック要素に変換 */
    width: fit-content;     /* 中身のサイズに縮める */
    margin: 0 auto;         /* 中央に配置 */
    text-align: center;
    text-decoration: none;
}

.circle-image {
  width: 150px;            /* スマホ向けに小さめ */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;       /* はみ出た部分をトリミング */
  display: block;
  margin: 0 auto;
}

.my-X {
  display: block;         /* ブロック要素に変換 */
  width: fit-content;     /* 中身のサイズに縮める */
  margin: 0 auto;         /* 中央に配置 */
  text-align: center;
  color: #1DA1F2;
  text-decoration: none;
  font-weight: bold;
}

.my-X:hover {
  text-decoration: underline;
}


.hov {
  display: block;         /* ブロック要素に変換 */
  width: fit-content;     /* 中身のサイズに縮める */      /* 中央に配置 */
  text-align: center;
  color: #005634;
  text-decoration: none;
  font-weight: bold;
}

.hov:hover {
  text-decoration: underline;
}