html {
    background-color: aquamarine;
    font-family: "Hiragino Maru Gothic ProN W4";
}

h1 {
    text-align: center;
    border: 10px solid black;
}

ol {
    border: 2px solid rgb(0, 162, 89);
}