html {
    background-color: aquamarine;
    font-family: "Hiragino Maru Gothic ProN W4";
}

h1 {
    text-align: center;
    border: 10px solid black;
}

pre {
    border: 8px dotted black;
    background-color: aliceblue;
}

p {
    border: 2px solid rgb(0, 162, 89);
}